
.landingPageContainer>.landingPageImageSection{
    width:100vw;
    height:200px;
    background-image: url("../../../public/images/entrancePagetopPart.jpg");
    background-size:cover;
    opacity: 0.85;
    position:sticky;
    top:60px;
    margin-bottom: 30px;
}
.landingPageProposalsContainer{
    margin:20px 40px;
    height:calc(100vh - 280px);
    overflow-y: scroll;   
}
.landingPageProposalsContainerafterSelection{
    margin:20px 40px;
    height:calc(100vh - 380px);
    overflow-y: scroll;   
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    background-color: grey;
}
::-webkit-scrollbar-thumb{
  background-color:black;
}
.landingPageSelectedFieldHeading{
    margin-left: 50px;
    font: normal normal 600 24px/33px Open Sans;
    letter-spacing: 0px;
    color: #575A5D;
    opacity: 1;
}
.landingPageProposalsContainer>h4{
    text-align: left;
    font: normal normal 600 24px/33px Open Sans;
    letter-spacing: 0px;
    color: #575A5D;
    opacity: 1;
}
.landingPageProposalsContainerafterSelection>h4{
    text-align: left;
    font: normal normal 600 24px/33px Open Sans;
    letter-spacing: 0px;
    color: #575A5D;
    opacity: 1;
}
.landingPageProposalsContainer>section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
    
  
}
.landingPageProposalsContainerafterSelection>section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
    
  
}
.landingSelectedEvent{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    opacity: 1;
    width:18%;
    height:300px;
    margin-bottom: 15px;
    margin-left: 50px;
}
.landingSelectedEvent>img{
    width:100%;
    height: 173px;
    object-fit: cover;
    border-radius: 8px;
}
.landingSelectedEvent>ul{
    list-style: none;

}
.landingSelectedEvent>ul>li{
    font: normal normal 600 14px/20px Open Sans;
    letter-spacing: 0.64px;
    color: #575A5D;
    opacity: 1;
    
}
.landingSelectedEventDeleteIcon{
    margin-left: 90%;
}
.landingSelectedEventDeleteIcon:hover{
  cursor: pointer;
  color:red;
}
